:root {
    --primary-color: #000000;
    --secondary-color: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #000000 32%, #ffffff 10%);
    margin: auto;

}

/*  NAVBAR  */

header {
    padding: 1.7rem 0;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
    
    
}

.logo a {
    margin-left: 0px;
    font-size: 1.3rem;
    font-weight: 800;
    color: #ffffff;
    text-decoration: none;
   

}

.logo a:hover {
    text-shadow: 0 0 15px white;
}


nav {
    z-index: 1;
}

nav a {
    color: #000000;
    text-decoration: none;
    font-size: .97rem;
    font-weight: 600;
    padding: 0.4rem 1.3rem;

}

nav a:hover {
    text-shadow: 0 0 15px white;
    color:black;
}


#click {
    display: none;
}

.menu {
    display: none;
}

/*NAVBAR*/

section {
    margin: 2rem 8.5rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5rem auto;
}

.main h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000000;
}

.Information {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: auto;
}

.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1.7rem;
}

.social a {
    color: var(--secondary-color);
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 0.3rem;
    text-align: center;
    width: 27px;
    height: 25px;
    display: grid;
    place-items: center;

}

.social a:hover {
    color: #fff;
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px var(--secondary-color);
    border-color: var(--secondary-color);
    transition: all .3s ease-in-out;

}

/* IMAGE*/

.images {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    margin: auto;
    
}

.blue-bg-outer {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background: #000000;
    display: grid;
    place-items: center;
    filter: drop-shadow(10px 0px 10px black)

}

.white-bg {
    width: 21.875em;
    height: 21.875em;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    
}

.blue-bg {
    width: 18.75em;
    height: 18.75em;
    border-radius: 50%;
    background:white;
    animation:fadeIn 5s; 
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  

.blue-bg:hover {
    filter: drop-shadow(0px 0px 10px black)
}

.blue-bg img {
    position: relative;
    width: 100%;
    border-radius: 50%;
}


/*BUTTON*/
.cv-btn {
    margin-top: 1.5rem;
    padding: 1em 2.5em;
    border-radius: 25px;
    background-color: #000000;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: 0;
}

/*INFO*/
.MY_TEXT:hover{
    text-shadow:0px 0px 10px black;
    color: white ;
    -webkit-text-stroke: 1px #000000;
}


/*ANIMATION*/

.animated_text h1 {
    -webkit-text-stroke: 1px #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: transparent;
    background-repeat: no-repeat;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    -webkit-background-clip: text;
    background-clip: none;
    background-position: -500px 0;
    animation: backcolor 5s linear infinite;
}

@keyframes backcolor {

    100% {
        -webkit-text-stroke: 1px #000000;
        background-position: 0 0;
    }
}
@media only screen and (max-width: 1024px) {
    html {
        font-size: 80%;
    }

    section {
        margin: 0;
    }


}

@media screen and (max-width: 768px) {
    html {
        font-size: 100%;
    }

    body {
        background: linear-gradient(180deg, #000000 35%, #ffffff 10%);
    }

    .menu {
        display: block;
    }

    .menu {
        font-size: 1.5rem;
        color: #ffffff;
    }

    header {
        padding: 0.7rem 1rem;
        justify-content: space-between;
    }

    nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--primary-color);
        left: -100%;
        width: 100%;
        top: 3rem;
        transition: all 0.3s ease;
    }

    nav a {
        color: #fff;
    }
    #click:checked~nav {
        left: 0;
    }
    .Information {
        align-items: start;
    }

}

@media only screen and (max-width: 480px) {

    section {
        margin: 0 1rem;
    }
    .images {
        min-width: 15em;
    }

    .blue-bg-outer {
        width: 20em;
        height: 20em;
        margin: auto;

    }

    .white-bg {
        width: 16.875em;
        height: 16.875em;
    }

    .blue-bg {
        width: 12.75em;
        height: 12.75em;
    }

}

@media only screen and (max-width: 320px) {
    .images {
        height: 17em;
    }
    .blue-bg-outer {
        width: 16em;
        height: 16em;

    }

    .white-bg {
        width: 13em;
        height: 13em;
    }

    .blue-bg {
        width: 11em;
        height: 11em;
    }

    .blue-bg img {
        position: relative;
        bottom: 20px;
        right: 10px;
        width: 100%;
    }
}
/*FOOTER*/
footer {
  position: fixed;
  background: #000000;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #ffffff;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #ffffff;
  font-size: 30px;
}
.footer_logo{
    height: 30px;
    width: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #000000;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #ffffff;
}
.top .media-icons a:nth-child(1):hover {
  color: #003cff;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #ffffff;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #ffffff;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #ffffff;
}
.top .media-icons a:nth-child(4):hover {
  color: #0077b5;
  background: #fff;
}
.top .media-icons a:nth-child(5) {
  background: #ffffff;
}
.top .media-icons a:nth-child(5):hover {
  color: #ff0000;
  background: #fff;
}
footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #434343;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #ffffff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #9696a3;
  background: #eaeaea;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #000000;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #ff0000;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #ffffff;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
